In [22]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
%matplotlib inline

In [40]:
# Objective:
# predict total sales for every product and store in the next month
# Create naive benchmark, where prediction is simply the previous months sale

In [24]:
transactions = pd.read_csv('sales_train.csv.gz')
items = pd.read_csv('items.csv')
item_categories = pd.read_csv('item_categories.csv')
shops = pd.read_csv('shops.csv')

print(transactions.shape)
print(items.shape)
print(item_categories.shape)
print(shops.shape)
transactions.head(3)

(2935849, 6)
(22170, 3)
(84, 2)
(60, 2)

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154       999.0           1.0
1  03.01.2013               0       25     2552       899.0           1.0
2  05.01.2013               0       25     2552       899.0          -1.0

In [25]:
transactions[['Day','Month','Year']]=transactions.date.str.split('.',expand=True)
del transactions['date']

In [26]:
transactions.head()

   date_block_num  shop_id  item_id  item_price  item_cnt_day Day Month  Year
0               0       59    22154      999.00           1.0  02    01  2013
1               0       25     2552      899.00           1.0  03    01  2013
2               0       25     2552      899.00          -1.0  05    01  2013
3               0       25     2554     1709.05           1.0  06    01  2013
4               0       25     2555     1099.00           1.0  15    01  2013

In [ ]:
transactions['Sales'] = transactions.item_cnt_day * transactions.item_price
transactions.head()

In [38]:
m_sales = transactions.groupby(['Month','shop_id','item_id']).sum()

In [39]:
m_sales

                       date_block_num  item_price  item_cnt_day    Sales
Month shop_id item_id
01    0       32                    0      884.00           6.0  1326.00
              33                    0     1041.00           3.0  1041.00
              35                    0      247.00           1.0   247.00
              43                    0      221.00           1.0   221.00
              51                    0      257.00           2.0   257.00
              61                    0      195.00           1.0   195.00
              75                    0       76.00           1.0    76.00
              88                    0       76.00           1.0    76.00
              95                    0      193.00           1.0   193.00
              96                    0       70.00           1.0    70.00
              98                    0     4288.00          25.0  6700.00
              111                   0       89.00           1.0    89.00
              149                   0      297.00           3.0   297.00
              151                   0       75.00           1.0    75.00
              153                   0      258.00           1.0   258.00
              198                   0      112.00           1.0   112.00
              210                   0      236.00           2.0   236.00
              282                   0      109.00           1.0   109.00
              306                   0       59.00           1.0    59.00
              351                   0       89.00           1.0    89.00
              421                   0      162.00           1.0   162.00
              438                   0      162.00           1.0   162.00
              482                   0     2720.00           2.0  2720.00
              484                   0      496.00           4.0   496.00
              491                   0      361.00           1.0   361.00
              498                   0      124.00           1.0   124.00
              556                   0      450.00           9.0   810.00
              642                   0      540.00           6.0   540.00
              651                   0      540.00           7.0   630.00
              657                   0      180.00           2.0   180.00
...                               ...         ...           ...      ...
12    59      21842                23      199.00           1.0   199.00
              21857                11      149.00           1.0   149.00
              21874                11      299.00           1.0   299.00
              21876                11      149.00           1.0   149.00
              21885                23      149.00           1.0   149.00
              21887                11      149.00           1.0   149.00
              21893                11      149.00           1.0   149.00
              21909                11      199.00           1.0   199.00
              21919                11      799.00           1.0   799.00
              21922                57      697.00           3.0   697.00
              21963                22     2998.00           2.0  2998.00
              21964                22     2398.00           2.0  2398.00
              21966                11      619.00           1.0   619.00
              21967                69     1197.00           4.0  1596.00
              21968                46     1278.00           2.0  1278.00
              21969                22     1398.00           2.0  1398.00
              21970                23      399.00           1.0   399.00
              22027                11      149.00           1.0   149.00
              22041                23      449.38           1.0   449.38
              22045               110     3990.00          11.0  4389.00
              22046                33     2397.00           3.0  2397.00
              22060                23      499.00           1.0   499.00
              22073                23       99.00           1.0    99.00
              22074                11      149.00           1.0   149.00
              22076                68      714.00           4.0   714.00
              22087               226     1226.00          27.0  2293.00
              22088               249     1325.00          30.0  2550.00
              22091               126      804.00          11.0  1499.00
              22092               102      744.00          10.0  1180.00
              22167                22      598.00           2.0   598.00

[1396971 rows x 4 columns]